# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
.env

# Django
db.sqlite3
media/
media/results/
media/uploads/
staticfiles/

# IDE
.vscode/
.idea/

# Node
node_modules/

# React
frontend/build/
frontend/dist/

# AI Models
# backend/ai/models/**/*.pt